<link rel='stylesheet' href='./css/style.css'>
{{>header}}
<p> Hi this index page</p>
<form>
    <input placeholder="address">
    <button>Search</button>
</form>
<p id="p1"></p>
<p id="p2"></p>
{{>footer}}
<script src ='./js/app.js'></script>

